In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import platform
# 운영체제별 한글 폰트 설정

if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False) # 마이너스 폰트 설정
# 글씨 선명하게 출력하는 설정
%config InlineBackend.figure_format = 'retina'

In [2]:
member_data = pd.read_csv('Member_data02.csv')
product_data = pd.read_csv('Product_data.csv')
sales_data = pd.read_csv('Sales_data02.csv')

C:\Users\HPNRT\AppData\Local\Temp\ipykernel_8488\3236964216.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_data = pd.read_csv('Sales_data02.csv')

In [3]:
member_data.head()

             ID 성별 결혼유무 거주지역    연령 결제등록카드    유입경로 자녀여부
0  2.018123e+14  여   기혼   인천  37.0   국민은행   인스타그램  Yes
1  2.018123e+14  여   기혼   제주  33.0   국민은행    검색광고  Yes
2  2.018123e+14  여   기혼   부산  32.0   하나은행  네이버블로그  Yes
3  2.018123e+14  여   미혼   경남  34.0   기업은행    지인추천   No
4  2.018123e+14  여   기혼   서울  32.0   신한은행    직접검색  Yes

In [6]:
product_data.head()

  물품대분류                               상품명  물품판매량  제품단가
0    FC        (1+1) 좋은느낌 입는 오버나이트 대형 8개입     15     0
1    FC        (1+1) 좋은느낌 입는 오버나이트 중형 8개입     10     0
2    FC  (1+1) 화이트 입는 오버나이트 대형 L 8개입 (EA)     27     0
3    FC  (1+1) 화이트 입는 오버나이트 중형 M 8개입 (EA)     12     0
4    FC   (핫딜위크/1+1) 좋은느낌 입는 오버나이트 대형 8개입      4     0

In [7]:
sales_data.head()

,주문번호,구매일,배송시작일,배송완료일,구매시월령(수정),고객번호,구매금액,결제금액,물품대분류,상품명
0,201905052342970,2019-05-06,2019-05-07,2019-05-11,4.0,201812310749735,25800,16314,더블하트,더블하트 SofTouch 모유실감 젖꼭지 M (2입)
1,202002203424450,2020-02-20,2020-02-21,2020-02-23,14.0,201812310749735,51200,37769,팬티,NEW 하기스 맥스드라이 팬티 5단계 남아 80매(팬티형)
2,201902282095385,2019-02-28,2019-03-01,2019-03-05,NaN,201812310749770,5610,3800,FMC,크리넥스？키즈용？화장지？3겹？27m 8롤
3,201905132367003,2019-05-13,2019-05-14,2019-05-16,66.0,201812310749771,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형)
4,201905092356247,2019-05-10,2019-05-11,2019-05-13,5.0,201812310749774,50640,39788,기저귀,하기스 에어솔솔 썸머기저귀 3단계 공용 144매(밴드형)

In [8]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199999 entries, 0 to 199998
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   주문번호       199999 non-null  object
 1   구매일        199999 non-null  object
 2   배송시작일      199999 non-null  object
 3   배송완료일      199999 non-null  object
 4   구매시월령(수정)  168142 non-null  float64
 5   고객번호       199999 non-null  object
 6   구매금액       199999 non-null  int64
 7   결제금액       199999 non-null  int64
 8   물품대분류      199999 non-null  object
 9   상품명        199999 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 15.3+ MB

In [9]:
sales_data.isnull().sum()

주문번호             0
구매일              0
배송시작일            0
배송완료일            0
구매시월령(수정)    31857
고객번호             0
구매금액             0
결제금액             0
물품대분류            0
상품명              0
dtype: int64